/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Root Css */

:root {
  --biggest-font: 2.75rem;
  --normal-font: 1rem;
  --big-font: 1.5rem;

  --font-color: #2c8e99;
  --white-font-color: #fff;
  --background-dark: #232323;
}

@media screen and (max-width: 768px) {
  :root {
    --biggest-font: 2rem;
    --normal-font: 0.825rem;
    --big-font: 1rem;
  }
}

/* Reset html */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*::selection {
  background: var(--font-color);
  color: var(--white-font-color);
}

body {
  background-color: var(--background-dark);
  color: var(--white-font-color);
}

main {
  width: 100%;
  height: 100vh;
}

/* Heading */

.heading {
  width: 100%;
  background-color: var(--font-color);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.title > span {
  font-size: var(--biggest-font);
}

.title > h2 {
  font-size: var(--big-font);
}

.message-display {
  color: var(--font-color);
  font-size: var(--big-font);
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white-font-color);
  color: var(--font-color);
}

.settings > button {
  cursor: pointer;
  transition: 0.25s linear;
  border: none;
  font-size: var(--big-font);
  color: var(--font-color);
  padding: 8px 10px;
}

.settings button:hover {
  background-color: var(--font-color);
  color: var(--white-font-color);
}

/* Squares Section */

.box_container {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.box {
  border-radius: 10%;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: purple;
  padding-bottom: 30%;
  transition: 0.5s;
  margin-bottom: 10px;
  justify-self: center;
}

/* setting mode */
.selected {
  background-color: var(--font-color);
  color: white !important;
}

/* buttons */

.mode {
  width: 150px;
}

@media (max-width: 768px) {
  .box {
    width: 100px;
    height: 100px;
  }

  .mode {
    width: 75px;
    padding: 4px 8px;
  }

  .box_container {
    grid-template-columns: repeat(3, 150px);
  }
}

@media (max-width: 425px) {
  .box_container {
    grid-template-columns: repeat(3, 120px);
  }
}

@media (max-width: 320px) {
  .box {
    width: 75px;
    height: 75px;
  }

  .box_container {
    padding: 10px;
    grid-template-columns: repeat(3, 100px);
  }
}
